extends layout

block content
  article
    h2 #{title}, #{items[0].date.split('T')[0]}
    table#records
      thead
        tr
          th ZIP Code
          th Total Daily
          th Total Cumulative
      tbody
        each i in items
          tr
            td(data-value=`${i.zip_code}`)
              a(href=`/${i.zip_code}`)= i.zip_code
            td(data-value=`${i.total_doses_daily}`)= i.total_doses_daily
            td(data-value=`${i.total_doses_cumulative}`)= i.total_doses_cumulative
