extends layout

block content
  article
    h2= title
    p Population: #{items[0].population}
    ul.days
      li
        a(href=`/${items[0].zip_code}`) Last 10 Days
      li
        a(href=`/${items[0].zip_code}/30`) Last 30 Days
      li
        a(href=`/${items[0].zip_code}/all`) All Days
    table#records
      thead
        tr
          th.desc Date
          th Total Daily
          th Total Cumulative
      tbody
        each i in items
          tr
            - var d = new Date(i.date)
            - var nice_date = `${d.getMonth() + 1}/${d.getDate()}/${d.getFullYear()}`
            td(data-value=`${i.date}`) #{nice_date}
            td(data-value=`${i.total_doses_daily}`)= i.total_doses_daily
            td(data-value=`${i.total_doses_cumulative}`)= i.total_doses_cumulative
    template#tr
      tr
        td(data-value)
        td(data-value)
        td(data-value)
